:root{
    --primary-color: #16A3B7;
    --gray-color: #bdc3c7;
}
.container{
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
}
.input{
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid gray;
    &:focus{
        border: 1px solid gray;
        outline: none;
    }
}
.button{
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    text-transform: uppercase;
    border: none;
}
.flex_center{
    display: flex;
    align-items: center;
}
.list_button{
    background-color: var(--gray-color);
}
.list_button:nth-child(2){
    margin: 0 5px;
}
.marginBottom_custom{
    margin-bottom: 20px;
}